[Unit]
Description=Network Model Executor
After=network.target

[Service]
ExecStart=nmexec
Restart=always
User=nmexec
Group=nmexec

[Install]
WantedBy=multi-user.target
